:root {                                               /* Using :root allows for highest CSS level selector*/
    --variable-color: blue;                         /* Created a variable for a specific color. */
}

.variable-color-example {
    width: 100px;
    height: 100px;
    color: white;
    background-color: var(--variable-color);          /* Used variable by assigning => var(--variable-name) */
}
